.App {
  /* text-align: center; */
}

#editorArea {
  border: 5px solid red;
  padding-bottom: 1vh;
  text-align: center;
}
#titleCard {
  background-color: lightblue;
  /* width: 50vw; */
  margin: auto;
  width: 50vw;
  height: auto;
}
#editor {
  width: 50vw;
  height: 25vh;
}
#previewArea {
  border: 5px solid lightgreen;
  padding-top: 1vh;
}
